---
import Reload from "../../components/ui/reload.astro";
---

<script>
    import $ from "jquery";
    import { loadFavourites } from "../../ts/timelines/favourites";
    import { checkReload } from "../../ts/workers/checkreload";
    localStorage.setItem("currentpage", "favourites");
    checkReload();
    $("#favourites").html(loadFavourites());
</script>
<Reload /><br><br><br>
<div id="favourites">Loading...</div>