---
import Reload from "../../components/ui/reload.astro";
---

<script>
    import { loadHome } from "../../ts/timelines/home";
    loadHome();
</script>
<Reload /><br>
<div id="home">Loading...</div>