---
import Reload from "../../components/ui/reload.astro";
---

<script>
    import { loadLocal } from "../../ts/timelines/local";
    loadLocal();
</script>
<Reload /><br>
<div id="local">Loading...</div>