<script>
    import $ from "jquery";
    import { loadNotifications } from "../../ts/timelines/notifications";
    import { checkReload } from "../../ts/workers/checkreload";
    localStorage.setItem("currentpage", "notifications");
    checkReload();
    $(document).ready(() => {
        loadNotifications();
    });
</script>
<div id="notifications">Loading...</div>