---
import Reload from "../../components/ui/reload.astro";
---

<script>
    import $ from "jquery";
    import { loadPublic } from "../../ts/timelines/public";
    import { checkReload } from "../../ts/workers/checkreload";
    localStorage.setItem("currentpage", "public");
    checkReload();
    $("#public").html(loadPublic());
</script>
<Reload /><br><br><br>
<div id="public">Loading...</div>