---
import Bookmarks from "../../components/timelines/bookmarks.astro";
import Layout from "../../layouts/default.astro";
---

<Layout>
    <div class="center">
        <h1>Your bookmarks</h1>
    </div>
    <Bookmarks />
</Layout>