---
import Favourites from "../../components/timelines/favourites.astro";
import Layout from "../../layouts/default.astro";
---

<Layout>
    <div class="center">
        <h1>Your favourites</h1>
    </div>
    <Favourites />
</Layout>