---
import Statusbox from "../../components/home/statusbox.astro";
import Welcome from "../../components/home/welcome.astro";
import Home from "../../components/timelines/home.astro";
import Layout from "../../layouts/default.astro";
---

<Layout>
    <div class="center">
        <Welcome />
        <Statusbox />
        <Home />
    </div>
</Layout>