---
import Statusbox from "../../components/ui/statusbox.astro";
import Welcome from "../../components/home/welcome.astro";
import Home from "../../components/timelines/home.astro";
import Layout from "../../layouts/default.astro";
---

<Layout>
    <div class="center">
        <Welcome />
        <Home />
        <br><br><br>
        <a href="#" id="next" class="btn btn-primary">Next page &rarr;</a>
    </div>
</Layout>

<script>
    import $ from "jquery";
    $("#next").click((e) => {
        localStorage.setItem("isnextpage", "true");
        window.setTimeout(() => {
            location.reload();
        }, 20)
        e.preventDefault();
    });
</script>