---
import Layout from "../../layouts/default.astro";
---

<Layout>
    <div class="center">
        <img src="/redflag.png" alt="Red flag" width="100" height="100"><br><br>
        <h1>Successfully reported!</h1>
        <p>Your report helps us to make this server safer for everyone.</p><br>
        <p><a href="javascript:history.back()">&larr; Back</a></p>
    </div>
</Layout>