---
import Statusbox from "../../components/ui/statusbox.astro";
import Layout from "../../layouts/default.astro";
---

<Layout>
    <div class="center">
        <h1>Reply to post</h1><br>
        <Statusbox /><br><br>
    </div>
    <div id="context"></div>
</Layout>