---
import Layout from "../layouts/landing.astro";
---

<Layout>
    <main>
        <div class="jumbotron">
            <img src="/cat.png" class="logo" alt="litterbox logo">
            <h1 class="display-4 lead">About litterbox</h1>
            <p class="lead">litterbox is a project by koyu.space creating an easy to use and simple fediverse client primarily built for and tested against Mastodon and GoToSocial.</p>
            <p class="lead"><a href="/" class="btn btn-primary"><i>Meow!</i></a></p>
        </div>
    </main>
</Layout>