---
import FollowRequests from "../components/follow_requests.astro";
import Layout from "../layouts/default.astro";
---

<Layout>
    <div class="center">
        <h1>Follow requests</h1>
        <FollowRequests />
    </div>
</Layout>