---
import Local from "../components/timelines/local.astro";
import Layout from "../layouts/default.astro";
---

<Layout>
    <div class="center">
        <h1>Local timeline</h1>
        <Local />
    </div>
</Layout>