---
import Notifications from "../components/timelines/notifications.astro";
import Layout from "../layouts/default.astro";
---

<Layout>
    <div class="center">
        <h1>Notifications</h1>
        <Notifications />
    </div>
</Layout>