---
import Public from "../components/timelines/public.astro";
import Layout from "../layouts/default.astro";
---

<Layout>
    <div class="center">
        <h1>Public timeline</h1>
        <Public />
    </div>
</Layout>