---
import Layout from "../layouts/landing.astro";
import "../scss/start.scss";
---

<Layout>
    <div class="jumbotron">
        <img src="/logo.png" height="220" class="logo">
        <h1 class="display-4 lead">Welcome to <span class="name">cutebox</span>!</h1>
        <p class="lead description">The simple social networking server for the Fediverse. Click the login button to use it.</p>
        <hr class="my-4">
        <p class="lead">
            <form action="/login" method="GET">
                <input type="hidden" value="" class="form-control" id="instance" name="instance" placeholder="yourinstance.tld">
                <input type="submit" class="btn btn-lg btn-primary" id="login" role="button" value="Log in">
            </form>
        </p>
        <br>
        <p class="lead">Need an account? <a href="/request">Request one now!</a></p>
        <br><hr>
        <p>Powered by <a href="https://cutebox.cc" target="_blank" nofollow>cutebox</a> | <a href="/privacy">Privacy</a></p>
    </div>
</Layout>

<script src="../ts/ui/start.ts"></script>