---
import Layout from "../layouts/landing.astro";
---

<Layout>
    <div class="jumbotron">
        <img src="/logo.png" height="220" class="logo">
        <h1 class="display-4 lead">Welcome to cutebox!</h1>
        <p class="lead">The simple social networking server for the Fediverse. Click the login button to use it.</p>
        <hr class="my-4">
        <p class="lead">
            <form action="/login" method="GET">
                <input type="hidden" value="cutebox.cc" class="form-control" name="instance" placeholder="yourinstance.tld">
                <input type="submit" class="btn btn-lg btn-primary" id="login" role="button" value="Log in">
            </form>
        </p>
        <br>
        <p class="lead">Need an account? <a href="/request">Request one now!</a></p>
    </div>
</Layout>

<script>
    import { checkForLogin } from "../ts/auth/check";
    import { checkInstance } from "../ts/workers/landing";
    import $ from "jquery";
    checkForLogin();
    $(document).ready(() => {
        if (checkInstance() !== "" && localStorage.getItem("token") === null) {
            $("input[name=\"instance\"]").val(checkInstance());
            window.setTimeout(() => {
                $("form").submit();
            }, 20);
        }
    });
</script>

<style>
    #login {
        display: block;
        margin: 0 auto;
    }
</style>