<img class="userpic avatar" height="64" style="float: right;" alt="User avatar">
<h1>Welcome, <span class="username">%username%</span>!</h1>
<p><a class="edit-profile" target="_blank">Edit profile</a> | <a href="/logout">Logout</a></p>
<br>
<script>
    import { initializePlaceholders } from "../../ts/ui/placeholders";
    initializePlaceholders();
</script>