<script>
    import $ from "jquery";
    import { renderFollowRequests } from "../ts/ui/follow_requests"
    import { checkReload } from "../ts/workers/checkreload";
    checkReload();
    $(document).ready(() => {
        renderFollowRequests();
    });
</script>
<div id="follow_requests">Loading...</div>