<script>
    import $ from "jquery";
    import { loadUser } from "../ts/ui/user";
    import { checkReload } from "../ts/workers/checkreload";
    localStorage.setItem("currentpage", "user");
    checkReload();
    const id = location.href.split("?id=")[1].split("&")[0];
    localStorage.setItem("lastuser", id);
    loadUser(id);
    $("#loaduser").hide();
</script>
<div id="user">Loading...</div>
<br>
<div class="center2">
    <p><a href="#" id="loaduser">&larr; Back</a></p>
</div>
<div id="user-content"></div>