@media(min-width:800px) {
    .center {
        display: block;
        margin: 0 auto;
        width: 50%;
    }
    .center .btn,
    .center .logo {
        display: block;
        margin: 0 auto;
    }
}