@import "variables";

.status {
    margin: 10px;
    padding: 10px;
    background: lighten($gray-900, 5%);
}

.attachment {
    vertical-align: middle;
}

.attachments {
    background: darken($gray-800, 10%);
    border-radius: 4px;
    min-height: 230px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

a .invisible {
    visibility: visible !important;
}

.emoji {
    height: auto;
    max-width: 16px;
}

.status-content > .attachment {
    display: none;
}

#file {
    background-image: none !important;
}

.actions {
    margin-bottom: 10px !important;
}