@import "variables";

#user_card,
.user-card {
  text-align: center;
  padding: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
}

#followbutton,
#mutebutton,
#blockbutton,
#notifybutton,
#makeunfollowbutton,
#nfollowbutton,
#mentionbutton,
#callbutton,
#reportbutton {
  color: #fff;
  float: right;
}

#followbutton .icon,
#mutebutton .icon,
#blockbutton .icon,
#notifybutton .icon,
#makeunfollowbutton .icon,
#nfollowbutton .icon,
#mentionbutton .icon,
#callbutton .icon,
#reportbutton .icon {
  height: 32px;
  margin-left: 16px;
}

#bio {
  background: $gray-800;
  margin-top: 20px;
  padding: 20px;
  border-radius: 4px;
  margin-bottom: 20px;
  text-align: left;
}

#acct {
  margin-top: -10px;
  font-size: 8pt;
}

#acct .icon {
  height: 8pt;
  vertical-align: middle;
}

#user_card > .avatar,
.user-card > .avatar {
  vertical-align: top;
}

#user_card td {
  color: #fff;
  background: $gray-800;
  border-bottom: 1px solid $gray-700;
  padding: 12px;
}

#user_card table {
  border-radius: 10px;
  margin: 0 !important;
}

#user_card td:first-child {
  background: $gray-900;
  width: 200px;
  vertical-align: middle;
}

#user_card td:last-child {
  background: $gray-800;
  width: 600px;
  vertical-align: middle;
}

#user_card td:last-child > .badge {
  vertical-align: middle;
}

#user_card .encapsulate {
  display: inline-block;
  width: 710px !important;
  margin: 0 auto !important;
  background: $gray-800;
  border-radius: 10px;
}

#user_card .encapsulate table {
  margin: 0 !important;
}

#user_card > .encapsulate > table > tbody > tr:nth-child(1) > td {
  border-top-left-radius: 4px;
}

#user_card > .encapsulate > table > tbody > tr:last-child > td {
  border-bottom-left-radius: 4px;
  border-bottom: 0 !important;
}

#user_card > .encapsulate > table > tbody > tr:nth-child(1) > td:last-child {
  border-top-right-radius: 4px;
}

#user_card > .encapsulate > table > tbody > tr:last-child > td:last-child {
  border-bottom-right-radius: 4px;
  border-bottom: 0 !important;
}