---
import "../scss/index.scss";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="/logo.png" />
		<meta name="viewport" content="width=device-width; initial-scale=1; viewport-fit=cover">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
		<link rel="manifest" href="/manifest.json">
		<link rel="apple-touch-startup-image" href="/apple-touch-icon.png">
		<meta name="generator" content={Astro.generator} />
		<script src="../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
		<title>cutebox</title>
	</head>
	<body class="bg-dark">
		<slot />
	</body>
</html>
