---
import Footer from '../components/ui/footer.astro';
import Navbar from '../components/ui/navbar.astro';
import Layout from './base.astro';
---

<Layout>
    <Navbar />
    <main>
        <slot />
    </main>
    <Footer />
</Layout>