---
import Icon from "astro-icon";
---

<a data-bs-toggle="modal" data-bs-target="#emojiModal" href="#emojiModal" role="button" aria-expanded="false">
    <Icon id="emoji-picker" name="ph:smiley" />
</a>

<div class="modal fade" id="emojiModal" tabindex="-1" role="dialog" aria-labelledby="emojiModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content bg-dark">
        <div class="modal-header">
          <h5 class="modal-title" id="emojiModalLabel">Custom Emoji</h5>
          <button type="button" class="close bg-dark" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <input type="search" class="form-control" id="search" placeholder="Search..."><br>
            <div id="emoji">Loading...</div>
            <script src="../../ts/ui/emoji.ts"></script>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

<style is:inline>
    .close {
        outline: 0;
        border: 0;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        display: block;
        font-size: 11px;
        color: #fff;
    }
    .modal-header,
    .modal-footer {
        border: 0 !important;
    }
    .emoji {
        margin: 10px;
        cursor: pointer;
    }
    @media (min-width: 576px) {
        .modal-dialog {
            max-width: 900px !important;
        }
    }
</style>