---
import Icon from "astro-icon";
---

<footer class="text-center bg-darker text-white fixed-bottom">
    <div class="text-center bg-darker text-white p-3">
        litterbox | <a class="text-white" href="https://mdbootstrap.com/"><Icon name="bi:github" /> Source code</a> | <a class="text-white" href="https://koyu.space/donate/"><Icon name="bi:heart-fill" /> Donate</a>
    </div>
</footer>