---
import Icon from "astro-icon";
---

<br><br>
<footer class="text-center bg-darker text-white fixed-bottom">
    <div class="text-center bg-darker text-white p-3">
        litterbox | <a class="text-white" href="https://github.com/koyuspace/litterbox" target="_blank"><Icon name="bi:github" /> Source code</a> | <a class="text-white" href="https://koyu.space/donate/" target="_blank"><Icon name="bi:heart-fill" /> Donate</a>
    </div>
</footer>