---
import Icon from "astro-icon";
---

<br><br>
<footer class="text-center text-white fixed-bottom">
    <div class="text-center text-white p-3">
        <span class="text-white">cutebox</span> | <a class="text-white" href="https://github.com/cuteboxcc/cutebox" target="_blank"><Icon name="bi:github" /> Source code</a> | <a class="text-white" href="https://koyu.space/donate/" target="_blank"><Icon name="bi:heart-fill" /> Donate</a>
    </div>
</footer>