---
import Icon from "astro-icon";
import menu from "../../json/menu.json";
---

<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/timeline/home"><img src="/logo.png" id="logo" alt="Logo"> cutebox</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            {menu.map((item) => (
                <li class="nav-item"><a href={`/${item.page}`} class="nav-link" id={`nav-${item.page.replaceAll("/", "--")}`}>{item.name}</a></li>
            ))}
            <li class="nav-item"><a href="/follow_requests" class="nav-link" id="nav-follow_requests">Follow requests</a></li>
        </ul>
    </div>
    <div class="d-flex">
      <form action="/search" method="GET" role="search">
        <div class="input-group">
          <input class="form-control" name="q" id="query" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-primary" type="submit"><Icon name="bi:search" /></button>
        </div>
      </form>
      <a id="topcallbutton" class="btn btn-primary"><Icon name="bi:camera-video" /></a>
      <button onclick="window.scrollTo(0,0)" id="top" class="btn btn-primary"><Icon name="bi:chevron-up" /></button>
      <button onclick="location.reload()" id="reload" class="btn btn-primary"><Icon name="bi:arrow-clockwise" /></button>
      <a href="/action/post" class="btn btn-primary"><Icon name="bi:pencil-fill" /></a>
    </div>
  </div>
</nav>
<div id="version-warning" style="display:none;">
  <div class="alert alert-warning" style="margin-top:80px;">
    Your server is running on an old version. Please ask your administrator to update.
  </div>
</div>
<script src="../../ts/ui/menu.ts"></script>