<input type="text" class="form-control" id="spoiler" placeholder="Content warning"><br>
<textarea class="form-control" id="post-form" rows="8" cols="10" placeholder="What's happening?"></textarea><br>
<div class="input-group" style="float: right; width:40%;">
    <select class="form-select" id="visibility">
        <option value="public" id="public">Public</option>
        <option value="unlisted" id="unlisted">Unlisted</option>
        <option value="private" id="private">Private</option>
        <option value="direct" id="direct">Direct</option>
    </select>
    <input type="submit" id="post" value="Post" class="btn btn-primary">
</div>

<br><br><br>

<script src="../../ts/ui/statusbox.ts"></script>