---
import Icon from "astro-icon";
---

<input type="text" class="form-control" id="spoiler" placeholder="Content warning"><br>
<textarea class="form-control" id="post-form" rows="8" cols="10" placeholder="What's happening?" autofocus></textarea><br>
<div id="counter" style="float: right; margin-right: 10px; margin-top: -10px;">0</div>

<div id="media_attachments"></div>

<div class="input-group">
    <input id="file" type="file" class="form-select">
    <button id="upload" class="btn btn-primary">Attach</button>
</div>

<br>

<div class="input-group" style="float: right; width:40%;">
    <select class="form-select" id="visibility">
        <option value="public" id="public">Public</option>
        <option value="unlisted" id="unlisted">Unlisted</option>
        <option value="private" id="private">Private</option>
        <option value="direct" id="direct">Direct</option>
    </select>
    <input type="submit" id="post" value="Post" class="btn btn-primary">
</div>

<a href="/emoji"><Icon id="emoji-picker" name="ph:smiley" /></a>

<script src="../../ts/ui/statusbox.ts"></script>

<style is:inline>
    #emoji-picker {
        width: 2em;
        height: 2em;
        display: block;
        float: right;
        margin: 10px;
        margin-top: 3px;
    }
    .attachment {
        cursor: not-allowed;
    }
</style>